/* @import 'node_modules/modern-normalize/modern-normalize.css'; */
@import 'normalize.css';
@import url('./styles/theme.css');

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-size: 14px;
  background-color: var(--color-primary-black);
  color: var(--color-primary-grey);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
img {
  display: block;
}
button {
  cursor: pointer;
}
